#black {
    background-color: rgb(0, 0, 0);
    color: rgb(217, 217, 217);
}

#red {
    background-color: red;
    color: rgb(217, 217, 217);
}

#blue {
    background-color: blue;
    color: rgb(217, 217, 217);
}

#green {
    background-color: green;
    color: rgb(217, 217, 217);
}


.color {
    border: black solid 1px;
}

#color-palette {
    display: flex;
}

#pixel-board {
    margin-top: 20px;
    max-width: 210px;
    max-height: 210px;
    display: flex; /*flexbox <3*/
    flex-wrap: wrap; /* essa propriedade faz com que tenha quebra de linha quando as divs chegarem a largura máxima do elemento pai. */
}

.pixel {
    width: 40px;
    height: 40px;
    background-color: white;
    border: black solid 1px;
}